<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
<h1>Search Images by Name, Anime, Cars ...</h1>
<div class="app" data-device=<%= device %>>
</div>
<%- include("./partials/footer.ejs") %>