<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
<h1>Random Images, reload to get more!</h1>
<div class="app" data-device=<%= device %>>
</div>
<%- include("./partials/footer.ejs") %>